html,
body{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  color: $default;
  background-color: $bg;
}
.main{
  flex-grow: 1;
}
img{
  object-fit: cover;
  cursor: pointer;
}
a{
  color: $link;
}
h3,
h4{
  color: #000;
}

