@media(max-width: 900px){
  .menu-icon,
  .sidebar{
    display: none;
  }
  .container, .large-container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .nav{
    &__right{
      img{
          display: none;
      }
      .user-icon{
        display: block;
        width: 30px;
      }
    }
    &__middle-micro{
      display: none;
    }
  }
  .search-box{
      input{
        width: 100px;
      }
  }
  .logo{
    width: 90px;
  }
  .play-video,
  .right-sidebar{
    flex-basis: 100%;
  }
  .play-container{
    padding-left: 5%;
  }
  .vid-description{
    padding-left: 0;
  }
  .play-video-info{
    a{
      margin-left: 0;
      margin-right: 15px;
      margin-top: 15px;
    }
  }
}